body {
  background-color: lightblue;
}

.parameter-input form label,input,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.parameter-input form button {
  background-color:lightslategray;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  body { 
    background-color: lightgreen;
  }
}
